<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.chunjae.ocrplatform.mapper.member.MemberMapper">

    <!-- 로그인 -->
    <select id="login" parameterType="java.util.Map" resultType="MemberDTO">
        SELECT id, department, name, login_id, password, start_date, end_date, status, role, login_flag
        FROM tb_member
        WHERE login_id=#{loginId} AND password=#{password} AND status=0
              AND NOW() BETWEEN start_date AND end_date
    </select>

    <!--  비밀번호 수정  -->
    <update id="updatePassword">
        UPDATE tb_member SET
             password = #{password}, login_flag=#{loginFlag}
        WHERE login_id = #{loginId}
    </update>
  
    <insert id="loginLoged" parameterType="MemberDTO">
        INSERT INTO tb_login_log (MEMBER_ID) VALUES (#{id})
    </insert>


    <select id="loginFail" resultType="MemberDTO">
        SELECT id
        FROM tb_member
        WHERE login_id=#{loginId}
    </select>

    <insert id="failLoginLoged" parameterType="MemberDTO">
        INSERT INTO tb_login_log (MEMBER_ID, LOGIN_FLAG) VALUES (#{id}, 0)
    </insert>

    <!--  loginFlag 변경-->
    <update id="setloginFlag">
        UPDATE tb_member SET
            login_flag = 1
        WHERE login_id = #{loginId}
    </update>

</mapper>




